<% content_for :title, "Editing type chambre" %>

<h1>Editing type chambre</h1>

<%= render "form", type_chambre: @type_chambre %>

<br>

<div>
  <%= link_to "Show this type chambre", @type_chambre %> |
  <%= link_to "Back to type chambres", type_chambres_path %>
</div>
