<% content_for :title, "New type chambre" %>

<h1>New type chambre</h1>

<%= render "form", type_chambre: @type_chambre %>

<br>

<div>
  <%= link_to "Back to type chambres", type_chambres_path %>
</div>
