<% content_for :title, "Editing chambre" %>

<h1>Editing chambre</h1>

<%= render "form", chambre: @chambre %>

<br>

<div>
  <%= link_to "Show this chambre", @chambre %> |
  <%= link_to "Back to chambres", chambres_path %>
</div>
